
.vs/Hydra/v16/.suo
.vs/Hydra/v16/Browse.VC.db
.vs/Hydra/v16/Browse.VC.db-shm
.vs/Hydra/v16/Browse.VC.db-wal
.vs/Hydra/v16/Browse.VC.opendb
.vs/Hydra/v16/ipch/AutoPCH/195b00d34d2d79c8/IMGUI.ipch
.vs/Hydra/v16/ipch/AutoPCH/435d1e3282176bda/PLAYER.ipch
.vs/Hydra/v16/ipch/AutoPCH/5400513d344b539d/IMGUI-SFML.ipch
.vs/Hydra/v16/ipch/AutoPCH/602f6caf518013ab/IMCONFIG-SFML.ipch
.vs/Hydra/v16/ipch/AutoPCH/76a9c86284d78584/PARSER.ipch
.vs/Hydra/v16/ipch/AutoPCH/89c294a96bee0658/IMGUI.ipch
.vs/Hydra/v16/ipch/AutoPCH/95266fb6911f3816/IMGUI_WIDGETS.ipch
.vs/Hydra/v16/ipch/AutoPCH/d2c866797835e851/HYDRA.ipch
.vs/Hydra/v16/ipch/AutoPCH/d5c9c37d1ede7320/NODE_DATA.ipch
.vs/Hydra/v16/ipch/AutoPCH/fc20b92be8bb405a/PARSER.ipch
*.png
Debug/fonts/arial.ttf
Debug/Hydra.exe
Debug/imgui.ini
Debug/logs/14-10-121.log
Debug/logs/17-10-121.log
Debug/logs/28-10-121.log
Debug/logs/3-10-121.log
Debug/logs/3-9-121.log
Debug/logs/30-10-121.log
Debug/logs/4-10-121.log
Debug/logs/4-9-121.log
Debug/openal32.dll
Debug/scene.hscene
Debug/sfml-graphics-d-2.dll
Debug/sfml-network-d-2.dll
Debug/sfml-system-d-2.dll
Debug/sfml-window-d-2.dll
Debug/yaml-cpp.dll
Debug/yaml-cpp.lib
Hydra/Debug/binary.obj
Hydra/Debug/convert.obj
Hydra/Debug/depthguard.obj
Hydra/Debug/directives.obj
Hydra/Debug/emit.obj
Hydra/Debug/emitfromevents.obj
Hydra/Debug/emitter.obj
Hydra/Debug/emitterstate.obj
Hydra/Debug/emitterutils.obj
Hydra/Debug/exceptions.obj
Hydra/Debug/exp.obj
Hydra/Debug/graphbuilder.obj
Hydra/Debug/graphbuilderadapter.obj
Hydra/Debug/Hydra.Build.CppClean.log
Hydra/Debug/Hydra.exe.recipe
Hydra/Debug/Hydra.ilk
Hydra/Debug/Hydra.log
Hydra/Debug/Hydra.obj
Hydra/Debug/Hydra.tlog/CL.command.1.tlog
Hydra/Debug/Hydra.tlog/CL.read.1.tlog
Hydra/Debug/Hydra.tlog/CL.write.1.tlog
Hydra/Debug/Hydra.tlog/Hydra.lastbuildstate
Hydra/Debug/Hydra.tlog/link.command.1.tlog
Hydra/Debug/Hydra.tlog/link.read.1.tlog
Hydra/Debug/Hydra.tlog/link.write.1.tlog
Hydra/Debug/Hydra.vcxproj.FileListAbsolute.txt
Hydra/Debug/imgui-SFML.obj
Hydra/Debug/imgui.obj
Hydra/Debug/imgui_demo.obj
Hydra/Debug/imgui_draw.obj
Hydra/Debug/imgui_tables.obj
Hydra/Debug/imgui_widgets.obj
Hydra/Debug/memory.obj
Hydra/Debug/node.obj
Hydra/Debug/node_data.obj
Hydra/Debug/nodebuilder.obj
Hydra/Debug/nodeevents.obj
Hydra/Debug/null.obj
Hydra/Debug/ostream_wrapper.obj
Hydra/Debug/parse.obj
Hydra/Debug/parser.obj
Hydra/Debug/regex_yaml.obj
Hydra/Debug/scanner.obj
Hydra/Debug/scanscalar.obj
Hydra/Debug/scantag.obj
Hydra/Debug/scantoken.obj
Hydra/Debug/simplekey.obj
Hydra/Debug/singledocparser.obj
Hydra/Debug/stream.obj
Hydra/Debug/tag.obj
Hydra/Debug/vc142.idb
Hydra/Debug/vc142.pdb
.gitattributes
.vs/Hydra/v16/ipch/AutoPCH/fe17ed7990be1808/HYDRA.ipch
Hydra/Hydra.vcxproj.user
Hydra/Release/Hydra.log
Hydra/Release/Hydra.tlog/CL.command.1.tlog
Hydra/Release/Hydra.tlog/CL.read.1.tlog
Hydra/Release/Hydra.tlog/CL.write.1.tlog
Hydra/Release/Hydra.tlog/Hydra.lastbuildstate
Hydra/Release/Hydra.tlog/unsuccessfulbuild
Hydra/Release/imgui.obj
Hydra/Release/imgui_demo.obj
Hydra/Release/imgui_draw.obj
Hydra/Release/imgui_tables.obj
Hydra/Release/imgui_widgets.obj
Hydra/Release/vc142.pdb
vendor/SFML-2.5.1/bin/openal32.dll
vendor/SFML-2.5.1/bin/sfml-audio-2.dll
vendor/SFML-2.5.1/bin/sfml-audio-d-2.dll
vendor/SFML-2.5.1/bin/sfml-graphics-2.dll
vendor/SFML-2.5.1/bin/sfml-graphics-d-2.dll
vendor/SFML-2.5.1/bin/sfml-network-2.dll
vendor/SFML-2.5.1/bin/sfml-network-d-2.dll
vendor/SFML-2.5.1/bin/sfml-system-2.dll
vendor/SFML-2.5.1/bin/sfml-system-d-2.dll
vendor/SFML-2.5.1/bin/sfml-window-2.dll
vendor/SFML-2.5.1/bin/sfml-window-d-2.dll
vendor/SFML-2.5.1/examples/win32/resources/image1.jpg
vendor/SFML-2.5.1/examples/win32/resources/image2.jpg
vendor/SFML-2.5.1/examples/win32/Win32.cpp
vendor/SFML-2.5.1/examples/win32/win32.exe
vendor/SFML-2.5.1/lib/sfml-audio-d.pdb
vendor/SFML-2.5.1/lib/sfml-audio-s-d.pdb
vendor/SFML-2.5.1/lib/sfml-graphics-d.pdb
vendor/SFML-2.5.1/lib/sfml-graphics-s-d.pdb
vendor/SFML-2.5.1/lib/sfml-main-s-d.pdb
vendor/SFML-2.5.1/lib/sfml-network-d.pdb
vendor/SFML-2.5.1/lib/sfml-network-s-d.pdb
vendor/SFML-2.5.1/lib/sfml-system-d.pdb
vendor/SFML-2.5.1/lib/sfml-system-s-d.pdb
vendor/SFML-2.5.1/lib/sfml-window-d.pdb
vendor/SFML-2.5.1/lib/sfml-window-s-d.pdb
